:root{
    --main-body-color:#F2F2F2;
    --sec-body-color:white;
    --accent-dark:#282425;
    --accent-medium:#D8A247;
    --accent-neutral:#8B6D34;
    --accent-light:#DABD83;
}
body{
    font-family: "Century Gothic", AppleGothic, sans-serif;
    align-items: center;
    background-color: var(--sec-body-color); 
    background-repeat: repeat;
    background-position:center;
    /*background-image: linear-gradient(141deg, #e4d1d1 0%, #b9b0b0 61%, #77a8a8 85%);*/

}

h1,h2{
    text-align: center;
    font-family: 'DatalegreyaDot'; 
    color:black;
    text-shadow: 2px 2px 10px black ;
}

h2{
    text-align: left;
    font-family: 'DatalegreyaDot'; 
    color:black;
    text-shadow: 2px 2px 10px black ;
}

button{
    padding-bottom: 2%;
    /*Added styles*/
    font-family: "Century Gothic", AppleGothic, sans-serif;
    background-color:  var(--accent-medium);
    color:white;
    border: 1px solid var(--accent-medium);
    border-radius: 4px;
    margin: auto;
    padding: 10px;
    box-shadow:  var(--accent-dark);
    text-align: center;
}

button:hover{
 color: white;
 background-color:   var(--accent-dark); 
}

button:disabled{
    background-color: darkgray;
}

#controls{
    float: left;
    width: auto;
    width: 600px;
}

#rightSide{
    margin: 0 0 0 auto;
    width: 50%;
    float:right;
}

#tagFunctions{
    padding: 3% 3% 3% 3%;
    width: auto;
}

#btn-myposition{
    align-self: center;
}

/** Map Section Style **/
#map-div{
    height:60%;
    }

/**Table Section Style**/
#table-div{
    float: left;
    margin: 0 0 auto 0;
    padding: 3%
}

table{
    background-color: var(--main-body-color);
    border-bottom-color: #282425;
    color: #282425;
    font-family: "Century Gothic", AppleGothic, sans-serif;
    font-size: 15px;
    width: 400px;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
}